button {
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  margin: 10px;
  font-size: 2rem;
  color: white;
}
.increment {
  background-color: aqua;
}
.decrement {
  background-color: blueviolet;
}
.reset {
  background-color: brown;
}
